.header {
  height: var(--header-height);
  display: flex;
  justify-content: center;
  z-index: 100;
}

.wrapper {
  display: flex;
  justify-content: center;
  max-width: 1185px;
  position: relative;
}

.page-content {
  max-width: 1185px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1185px;
  background-color: var(--header-bg-color);
  border-bottom: 3px solid black;
  position: fixed;
  height: var(--header-height);
  z-index: 100;
  width: 100%;
}
.nav__toggle {
  visibility: hidden;
}
.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__item {
  width: 161px;
  display: flex;
  justify-content: center;
}
.nav__link {
  display: flex;
  align-items: center;
  font-size: 15px;
  text-decoration: none;
  color: var(--link-color);
  transition: color 0.4s ease 0s;
  width: 100%;
  justify-content: center;
}
.nav__link:hover {
  transition: 0.5s;
  color: var(--link-hover-color);
}

.is__active {
  color: var(--link-hover-color);
}

.social {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.social__list {
  display: flex;
  flex-direction: row;
}
.social__item {
  margin-right: 10px;
}
.social__item:last-of-type {
  margin-right: 0;
}
.social__icon {
  height: 30px;
}

section {
  max-width: 1185px;
  margin: 0 auto;
}

.root__container {
  width: 100%;
}

.title {
  font-size: 17px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
  margin: 36px auto;
}
.title__link {
  color: var(--link-color);
  transition: color 0.4s ease 0s;
  letter-spacing: 0.25em;
  font-weight: 500;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.item {
  width: 382px;
  min-height: 690px;
  position: relative;
}
.item__inner {
  text-align: center;
}
.item__inner-title {
  font-size: 32px;
  line-height: 1.4em;
  text-align: center;
  width: 300px;
  color: var(--link-color);
}
.item__inner-btn {
  font-weight: 700;
  line-height: 1.4em;
  margin-top: 30px;
  font-size: 16px;
  width: 160px;
  height: 50px;
  background-color: #fff;
}
.item__inner-btn:hover {
  cursor: pointer;
  border: 3px solid black;
  transition: border 0.1s ease 0s;
}
.item:nth-child(1) {
  background: url(../img/item1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
}
.item:nth-child(2) {
  background-color: #f7e9e4;
  margin: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item:nth-child(3) {
  background: url(../img/item3.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
}

.section-2 {
  margin-top: 30px;
  background-color: #ebebf2;
}

.paralax {
  width: 100%;
  background: url(../img/sect2bg.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
}
.paralax__off {
  opacity: 1;
}
.paralax__title {
  letter-spacing: 0.1em;
  line-height: 1.4em;
  text-align: center;
  margin: 44px 0;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.s3item {
  width: 580px;
}

.s3item {
  margin-top: 20px;
  margin-right: 20px;
  position: relative;
}
.s3item:last-of-type {
  margin-right: 0;
}
.s3item__photo {
  width: 100%;
}
.s3item__btn {
  position: absolute;
  bottom: 50px;
  right: 50px;
  font-weight: 700;
  line-height: 1.4em;
  font-size: 16px;
  width: 160px;
  height: 50px;
  background-color: #fff;
}
.s3item__btn:hover {
  cursor: pointer;
  border: 3px solid black;
  transition: border 0.1s ease 0s;
}

.section-4 {
  margin: 58px auto;
}

.follow__text {
  font-family: "Raleway", sans-serif;
  font-size: 32px;
}

.show__more {
  display: none;
}

.slider {
  overflow-x: hidden;
}
.slider__viewport {
  position: relative;
}
.slider__slides {
  width: 100%;
  min-height: 135px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.slider__item {
  width: 140px;
  height: 140px;
  position: relative;
  flex-shrink: 0;
  margin-right: 8.5px;
}
.slider__item:hover .item__inner {
  display: block;
  cursor: pointer;
}
.slider__item-hover {
  margin-right: 10px;
}
.slider__slide {
  width: 100%;
  height: 100%;
  z-index: 19;
}
.slider__control {
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  color: #fff;
  text-align: center;
  opacity: 0.5;
  height: 40%;
  transform: translateY(-50%);
  background: transparent;
  transition: all 0.3s;
}
.slider__control_left {
  left: 0;
}
.slider__control_left:hover {
  background: black;
  background-image: url("../img/slider/left.svg");
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.3s;
}
.slider__control_right {
  right: 0px;
}
.slider__control_right:hover {
  background: black;
  background-image: url("../img/slider/right.svg");
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.3s;
}

.section-5 .item__inner {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
}
.section-5 .item__inner-element {
  color: white;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  text-align: center;
  font-size: 12px;
}

.section-6 {
  margin-top: 150px;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  margin-top: 50px;
  width: 353px;
}
.form__input {
  font-family: Raleway;
  font-weight: bold;
  font-size: 15px;
  border: 1px solid #292325;
  color: var(--link-color);
  padding: 5px 0;
  padding-left: 21px;
  width: 100%;
}
.form__input:focus {
  outline: none;
  font-size: 15px;
  border-width: 1px;
}
.form__text {
  text-align: center;
  color: var(--link-color);
  font-family: Raleway;
  font-weight: bold;
  font-size: 16px;
}
.form__btn {
  margin-top: 9px;
  width: 100%;
  height: 33px;
  background-color: var(--link-color);
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  font-family: Raleway;
  transition: background-color 0.4s ease;
}
.form__btn:hover {
  cursor: pointer;
  background-color: #998d8f;
  transition: background-color 0.4s ease;
}

.footer {
  margin-top: 50px;
  background-color: #f7e9e4;
}
.footer__text {
  text-align: center;
  padding: 21px 0;
}

.about__inner {
  width: 100%;
  min-height: 500px;
  background-color: #f7e9e4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about__inner-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 650px;
}
.about__inner-title {
  margin-top: 100px;
  font-family: "Raleway";
  font-size: 32px;
  font-weight: bold;
}
.about__inner-subtitle {
  margin-top: 28px;
  font-size: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 600;
  color: #332f30;
}
.about__inner-img {
  margin-top: 50px;
}
.about__inner-img > img {
  border-radius: 50%;
}
.about__inner-text {
  margin-top: 50px;
  text-align: center;
  font-weight: 300;
}
.about__inner-text:last-of-type {
  margin-top: 20px;
  margin-bottom: 150px;
}

.bar {
  margin-top: 35px;
  width: 33px;
  border-top: 1px solid black;
}

#about__page .section-6 {
  margin-top: 80px;
}

#contact__page .wrapper {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact__page .contact__inner {
  width: 100%;
  min-height: 10px;
  background-color: #f7e9e4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#contact__page .contact__inner-title {
  font-family: "Raleway";
  font-size: 32px;
  font-weight: bold;
  padding: 80px 0;
}

#contact__page .bar {
  margin-top: 50px;
  width: 33px;
  border-top: 1px solid black;
}

.contact {
  margin-top: 25px;
  font-size: 15px;
  color: var(--link-color);
  text-align: center;
}
.contact__contacts {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.contact__item:nth-child(2) {
  margin: 0 10px;
}
.contact__email {
  color: inherit;
}
.contact__text {
  margin: 50px auto;
  width: 750px;
  line-height: 1.8em;
  text-align: center;
}
.contact__form {
  margin: 0 auto;
  width: 750px;
}
.contact__form-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contact__form-row:nth-child(2) {
  margin-top: 30px;
}
.contact__form-input {
  width: 355px;
  border-bottom: 1px solid grey;
  padding: 5px 0 15px 21px;
  font-size: 15px;
  outline: none;
}
.contact__form-textarea {
  width: 100%;
  height: 126px;
  padding: 5px 0 15px 21px;
  font-size: 15px;
  border: none;
  border-bottom: 1px solid grey;
  outline: none;
  resize: none;
}
.contact__form .form__btn {
  margin-top: 20px;
}

.modal {
  position: absolute;
}

/*# sourceMappingURL=content.css.map */
